In [1]:
# Importar los datos en un dataframe
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', 500)

data = pd.read_csv('loan.csv',low_memory=False)
data.head(3)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_6m,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,1077501,1296599,5000.0,5000.0,4975.0,36 months,10.65,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Dec-2011,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/22/11 > I need to upgra...,credit_card,Computer,860xx,AZ,27.65,0.0,Jan-1985,1.0,NaN,NaN,3.0,0.0,13648.0,83.7,9.0,f,0.0,0.0,5861.071414,5831.78,5000.00,861.07,0.0,0.00,0.00,Jan-2015,171.62,NaN,Jan-2016,0.0,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1077430,1314167,2500.0,2500.0,2500.0,60 months,15.27,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-2011,Charged Off,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/22/11 > I plan to use t...,car,bike,309xx,GA,1.00,0.0,Apr-1999,5.0,NaN,NaN,3.0,0.0,1687.0,9.4,4.0,f,0.0,0.0,1008.710000,1008.71,456.46,435.17,0.0,117.08,1.11,Apr-2013,119.66,NaN,Sep-2013,0.0,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1077175,1313524,2400.0,2400.0,2400.0,36 months,15.96,84.33,C,C5,NaN,10+ years,RENT,12252.0,Not Verified,Dec-2011,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,NaN,small_business,real estate business,606xx,IL,8.72,0.0,Nov-2001,2.0,NaN,NaN,2.0,0.0,2956.0,98.5,10.0,f,0.0,0.0,3003.653644,3003.65,2400.00,603.65,0.0,0.00,0.00,Jun-2014,649.91,NaN,Jan-2016,0.0,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
# Obtener las estadisticas descriptivas
data.describe()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_amnt,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,annual_inc_joint,dti_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_6m,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
count,8.873790e+05,8.873790e+05,887379.000000,887379.000000,887379.000000,887379.000000,887379.000000,8.873750e+05,887379.000000,887350.000000,887350.000000,433067.000000,137053.000000,887350.000000,887350.000000,8.873790e+05,886877.000000,887350.000000,887379.000000,887379.000000,887379.000000,887379.000000,887379.000000,887379.000000,887379.000000,887379.000000,887379.000000,887379.000000,887234.000000,221703.000000,887379.0,511.000000,509.000000,887350.000000,8.171030e+05,8.171030e+05,21372.000000,21372.000000,21372.000000,21372.000000,20810.000000,21372.000000,18617.000000,21372.000000,21372.000000,21372.000000,21372.000000,8.171030e+05,21372.000000,21372.000000,21372.000000
mean,3.246513e+07,3.500182e+07,14755.264605,14741.877625,14702.464383,13.246740,436.717127,7.502759e+04,18.157039,0.314442,0.694623,34.063798,70.117903,11.548469,0.195307,1.692079e+04,55.067693,25.268026,8403.124852,8399.713242,7558.826684,7521.160306,5757.706424,1754.804327,0.396692,45.919243,4.880757,2164.145585,0.014380,44.104838,1.0,109981.011585,18.310118,0.004991,2.257026e+02,1.394582e+05,1.109021,2.928832,0.761651,1.674574,20.912686,36552.811389,71.535317,1.389060,2.975482,5887.979740,60.831939,3.206862e+04,0.943945,1.537058,1.977307
std,2.282734e+07,2.411335e+07,8435.455601,8429.897657,8442.106732,4.381867,244.186593,6.469830e+04,17.190626,0.862244,0.998448,21.884940,28.127914,5.317313,0.582091,2.242679e+04,23.834344,11.840561,8493.450269,8489.997617,7871.243336,7846.108604,6625.441046,2095.356099,4.087825,409.693874,63.125281,4794.783233,0.134191,22.179841,0.0,52730.379847,7.169233,0.077625,1.031137e+04,1.537500e+05,1.242675,3.089987,0.996035,1.688725,27.209081,43103.833619,23.022862,1.520129,2.631886,5284.701239,20.013254,3.749826e+04,1.446872,2.723339,2.874067
min,5.473400e+04,7.047300e+04,500.000000,500.000000,0.000000,5.320000,15.670000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,17950.000000,3.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,-4.000000
25%,9.206643e+06,1.087713e+07,8000.000000,8000.000000,8000.000000,9.990000,260.705000,4.500000e+04,11.910000,0.000000,0.000000,15.000000,51.000000,8.000000,0.000000,6.443000e+03,37.700000,17.000000,0.000000,0.000000,1914.590000,1899.700000,1200.570000,441.460000,0.000000,0.000000,0.000000,280.170000,0.000000,27.000000,1.0,76032.500000,13.200000,0.000000,0.000000e+00,2.985300e+04,0.000000,1.000000,0.000000,0.000000,6.000000,10251.500000,58.600000,0.000000,1.000000,2411.000000,47.700000,1.390000e+04,0.000000,0.000000,0.000000
50%,3.443327e+07,3.709528e+07,13000.000000,13000.000000,13000.000000,12.990000,382.550000,6.500000e+04,17.650000,0.000000,0.000000,31.000000,70.000000,11.000000,0.000000,1.187500e+04,56.000000,24.000000,6458.290000,6455.810000,4894.999117,4862.010000,3215.320000,1073.280000,0.000000,0.000000,0.000000,462.780000,0.000000,44.000000,1.0,101771.000000,17.610000,0.000000,0.000000e+00,8.055900e+04,1.000000,2.000000,0.000000,1.000000,12.000000,24684.500000,74.900000,1.000000,2.000000,4483.000000,61.900000,2.370000e+04,0.000000,0.000000,2.000000
75%,5.490814e+07,5.847135e+07,20000.000000,20000.000000,20000.000000,16.200000,572.600000,9.000000e+04,23.950000,0.000000,1.000000,50.000000,92.000000,14.000000,0.000000,2.082900e+04,73.600000,32.000000,13659.055000,13654.050000,10616.814231,10565.690000,8000.000000,2238.265000,0.000000,0.000000,0.000000,831.245000,0.000000,61.000000,1.0,132800.000000,22.650000,0.000000,0.000000e+00,2.082050e+05,2.000000,4.000000,1.000000,2.000000,23.000000,47858.000000,87.600000,2.000000,4.000000,7771.500000,75.200000,3.980000e+04,1.000000,2.000000,3.000000
max,6.861706e+07,7.354484e+07,35000.000000,35000.000000,35000.000000,28.990000,1445.460000,9.500000e+06,9999.000000,39.000000,33.000000,188.000000,129.000000,90.000000,86.000000,2.904836e+06,892.300000,169.000000,49372.860000,49372.860000,57777.579870,57777.580000,35000.030000,24205.620000,358.680000,33520.270000,7002.190000,36475.590000,20.000000,188.000000,1.0,500000.000000,43.860000,14.000000,9.152545e+06,8.000078e+06,14.000000,40.000000,12.000000,19.000000,363.000000,878459.000000,223.300000,22.000000,43.000000,127305.000000,151.400000,9.999999e+06,17.000000,35.000000,32.000000

In [21]:
# Se eliminan las columnas con mas de 90% de sus valores perdidos (nulos)
print('Eliminando columnas con mas de 90% de valores perdidos...')
print(f'Cantidad de columnas originales: {data.shape[1]}')
cols_elim = [x for x in data.columns if data[x].isnull().sum()/data.count().max()>=0.10]
print(f'Cantidad de columnas a eliminar: {len(cols_elim)}')
data_clear = data.drop(columns=cols_elim,axis=1)
print(f'Cantidad de columnas finales: {data_clear.shape[1]}')

# Eliminar columnas cuyos nombres contengan id_
id_lst=list(map(lambda x: 'id' in x,data_clear.columns))
id_column_name_lst = list(data_clear.columns[id_lst])
print('Eliminando columnas que contengan un id')
print(f'Numero de columnas original: {len(data_clear.columns.tolist())}')
data_clear.drop(columns=id_column_name_lst, axis=1,inplace=True)
print(f'Numero de columnas filtrado: {len(data_clear.columns.tolist())}')

# Eliminar columnas cuyos nombres contengan _d (fechas)
id_lst=list(map(lambda x: '_d' in x,data_clear.columns))
id_column_name_lst = list(data_clear.columns[id_lst])
print('Eliminando columnas que contengan un dato que sea fecha (terminan en _d)')
print(f'Numero de columnas original: {len(data_clear.columns.tolist())}')
data_clear.drop(columns=id_column_name_lst, axis=1,inplace=True)
print(f'Numero de columnas filtrado: {len(data_clear.columns.tolist())}')

Eliminando columnas con mas de 90% de valores perdidos...
Cantidad de columnas originales: 74
Cantidad de columnas a eliminar: 22
Cantidad de columnas finales: 52
Eliminando columnas que contengan un id
Numero de columnas original: 52
Numero de columnas filtrado: 50
Eliminando columnas que contengan un dato que sea fecha (terminan en _d)
Numero de columnas original: 50
Numero de columnas filtrado: 46

In [22]:
# Buscar las columnas que tienen datos potencialmente categoricos y convertir sus valores de acuerdo al mismo
print('Convirtiendo las categorias nominales en numericas mediante codificacion')
cat_cols = data_clear.select_dtypes(include='object').columns.tolist()
cat_cols.remove('loan_status')
print(f'Se encontraron {len(cat_cols)} columnas por convertir.')
cat_dict = dict()
for col in cat_cols:
    data_clear[col] = data_clear[col].astype('category')
    cat_dict[col] = {i+1:c for i,c in enumerate(data_clear[col].cat.categories)}
    data_clear[col] = data_clear[col].cat.codes+1
print('Columnas convertidas con exito.')
    
# Se mira la cantidad de categorias que tiene cada columna. Asimismo, se identifican aquellas que tienen una cantidad
# muy alta de categorias distintas (>10% de la cantidad de registros de la columna)
print(f'Eliminando columnas nominales que tienen demasiados valores distintos (limite: 10% del total de la columna)')
debug = True
cols_elim = []
for keys,values in cat_dict.items():
    if debug:
        print(f'{keys} => {len(values)} de {data_clear.count().max()} ({round(100*len(values)/data_clear.count().max(),2)}%)')
    if len(values)/data_clear.count().max() >= 0.1:
        cols_elim.append(keys)
print(f'Cantidad antigua de columnas: {len(data_clear.columns.tolist())}')
data_clear.drop(columns=cols_elim, axis=1, inplace=True)
print(f'Cantidad nueva de columnas: {len(data_clear.columns.tolist())}')

# Se rellenan los vacios con la mediana
print('Rellenando vacios con la mediana...')
data_clear = data_clear.fillna(value=data_clear.median())
data_clear = data_clear.reset_index(drop=True)
print('Se rellenaron los vacios.')

Convirtiendo las categorias nominales en numericas mediante codificacion
Se encontraron 16 columnas por convertir.
Columnas convertidas con exito.
Eliminando columnas nominales que tienen demasiados valores distintos (limite: 10% del total de la columna)
term => 2 de 887379 (0.0%)
grade => 7 de 887379 (0.0%)
sub_grade => 35 de 887379 (0.0%)
emp_title => 299271 de 887379 (33.73%)
emp_length => 11 de 887379 (0.0%)
home_ownership => 6 de 887379 (0.0%)
verification_status => 3 de 887379 (0.0%)
pymnt_plan => 2 de 887379 (0.0%)
url => 887379 de 887379 (100.0%)
purpose => 14 de 887379 (0.0%)
title => 63144 de 887379 (7.12%)
zip_code => 935 de 887379 (0.11%)
addr_state => 51 de 887379 (0.01%)
earliest_cr_line => 697 de 887379 (0.08%)
initial_list_status => 2 de 887379 (0.0%)
application_type => 2 de 887379 (0.0%)
Cantidad antigua de columnas: 46
Cantidad nueva de columnas: 44

In [54]:
# Se explora la variable target (loan_status)
import warnings
def analisis_agregacion(dataframe,groupby_col,idx_opt):
    with warnings.catch_warnings():
        warnings.filterwarnings('ignore',category=FutureWarning)
        #aggregation_function = {'id':{'cuenta':'count'},'loan_amnt':{'suma':'sum','contador':lambda x: int(sum(x)/data2.loc[x.index].loan_amnt.sum())}}
        aggregation_function = {'loan_amnt':['count','sum']}
        data_res=dataframe.groupby(groupby_col,as_index=idx_opt).agg(aggregation_function)
    data_res['loan_amnt','porcentaje_cuenta'] = round(data_res['loan_amnt','count']/data_res['loan_amnt'].sum()[0]*100,2)
    data_res['loan_amnt','tporcentaje_monto'] = round(data_res['loan_amnt','sum']/data_res['loan_amnt'].sum()[1]*100,2)
    return data_res.sort_index(axis=1)

print('Distribucion de la variable loan_status')
print(analisis_agregacion(data_clear,'loan_status',True))

Distribucion de la variable loan_status

                   loan_amnt
                       count porcentaje_cuenta           sum tporcentaje_monto
loan_status
Charged Off            45248             16.87  6.586432e+08             17.96
Default                 1219              0.45  1.852130e+07              0.51
Fully Paid            207723             77.47  2.772344e+09             75.60
Late (16-30 days)       2357              0.88  3.693575e+07              1.01
Late (31-120 days)     11591              4.32  1.804638e+08              4.92

In [78]:
# Se observa que no todos los valores son validos o aplicables al caso.
# Por ello, se filtran los registros inconsistentes o no aplicables para analisis:
#    Current -> No aplicable porque son prstamos dentro de su periodo de pago.
#    Does not meet the credit policy (...) -> Inconsistente. No se sabe si es un error o un valor correcto.
#    Issued -> No aplicable porque son crditos recin emitidos.
#    In grace period -> No aplicable porque son crditos en periodo de gracia.
print('Eliminando registros inconsistentes o no aplicables para analisis.')
estados_eliminar = {'In Grace Period','Current','Does not meet the credit policy. Status:Fully Paid', 'Does not meet the credit policy. Status:Charged Off', 'Issued'}
data_clear_final = data_clear
for estado in estados_eliminar:
    data_clear_final.drop(data_clear_final[data_clear_final.loan_status==estado].index,inplace=True)
    print(f'Eliminado {estado}. Quedan: {data_clear_final.count()[0]}')
print('Se eliminaron registros no aplicables')
print('Nueva distribucion:')
print('==============================================================================================')
print(analisis_agregacion(data_clear_final,'loan_status',True))
print('==============================================================================================')

Eliminando registros inconsistentes o no aplicables para analisis.
Eliminado Issued. Quedan: 268138
Eliminado In Grace Period. Quedan: 268138
Eliminado Current. Quedan: 268138
Eliminado Does not meet the credit policy. Status:Charged Off. Quedan: 268138
Eliminado Does not meet the credit policy. Status:Fully Paid. Quedan: 268138
Se eliminaron registros no aplicables
Nueva distribucion:
==============================================================================================
                   loan_amnt
                       count porcentaje_cuenta           sum tporcentaje_monto
loan_status
Charged Off            45248             16.87  6.586432e+08             17.96
Default                 1219              0.45  1.852130e+07              0.51
Fully Paid            207723             77.47  2.772344e+09             75.60
Late (16-30 days)       2357              0.88  3.693575e+07              1.01
Late (31-120 days)     11591              4.32  1.804638e+08              4.92
==============================================================================================

In [77]:
# Se genera la variable de destino (target). En este caso, el estado de prestamo pagado ser la clase positiva (+1)
# y cualquier otro estado ser negativo (-1)
print('Creando columna de clase...')
data_clear_final['class'] = 2*(data_clear_final['loan_status'] == 'Fully Paid')-1
print('==============================================================================================')
print('Distribucion de la nueva columna:')
print('')
print(analisis_agregacion(data_clear_final,['class','loan_status'],True))

print('==============================================================================================')
print('Se separa el set X del Y')
X = data_clear_final[data_clear_final.drop(columns=['loan_status','class'],axis=1).columns.tolist()]
y = data_clear_final['class']
print(f'Las dimensiones de X son: {X.shape}')
print(f'Las dimensiones de y son: {y.shape}')

Creando columna de clase...
==============================================================================================
Distribucion de la nueva columna:

                         loan_amnt                                  \
                             count porcentaje_cuenta           sum
class loan_status
-1    Charged Off            45248             16.87  6.586432e+08
      Default                 1219              0.45  1.852130e+07
      Late (16-30 days)       2357              0.88  3.693575e+07
      Late (31-120 days)     11591              4.32  1.804638e+08
 1    Fully Paid            207723             77.47  2.772344e+09


                         tporcentaje_monto
class loan_status
-1    Charged Off                    17.96
      Default                         0.51
      Late (16-30 days)               1.01
      Late (31-120 days)              4.92
 1    Fully Paid                     75.60
==============================================================================================
Se separa el set X del Y
Las dimensiones de X son: (268138, 43)
Las dimensiones de y son: (268138,)

In [87]:
# Preparacion experimental
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

# Separar el conjunto de entrenamiento/validacion del conjunto de prueba
print('Separando el conjunto de entrenamiento del de pruebas')
print(f'El tamao original de X es {len(X)}')
X_trainval, X_test, y_trainval, y_test = train_test_split(X, y, test_size=0.20, random_state=40)
print(f'El tamao del set de entrenamiento es: {len(X_trainval)}')
print(f'El tamao del set de pruebas es: {len(X_test)}')
print(f'El tamao del set entrenamiento + pruebas es {len(X_trainval+X_test)}')

# Normalizar el conjunto de entrenamiento/valdiacion
print('')
print('Ejecutando normalizacion...')
scaler = StandardScaler().fit(X_trainval)
X_trainval_scaled = scaler.transform(X_trainval)
print('Set de pruebas normalizado')

Separando el conjunto de entrenamiento del de pruebas
El tamao original de X es 268138
El tamao del set de entrenamiento es: 214510
El tamao del set de pruebas es: 53628
El tamao del set entrenamiento + pruebas es 268138

Ejecutando normalizacion...
Set de pruebas normalizado

In [90]:
# Uso de pipes para entrenar modelo y seleccionar caracteristicas con GridSearchCV
from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV

modelo_logistico = LogisticRegression()
selector_logistico = RFE(estimator=modelo_logistico)
#selector_logistico = selector_logistico.fit(X_trainval_scaled,y_trainval)
pipe = Pipeline(steps=[('reducir_dim', selector_logistico), ('logistic', modelo_logistico)])

n_caracteristicas = list(range(10,len(X_trainval.columns)-5,10))
c_valores = [0.1]

param_grid = [
    {
        'reducir_dim__n_features_to_select': n_caracteristicas,
        'logistic__C': c_valores
    }
]

grid = GridSearchCV(pipe, cv=10, n_jobs=10, param_grid=param_grid, return_train_score=False, verbose=10)
grid.fit(X_trainval,y_trainval)

Fitting 10 folds for each of 3 candidates, totalling 30 fits
[CV] logistic__C=0.1, reducir_dim__n_features_to_select=10 ...........
[CV] logistic__C=0.1, reducir_dim__n_features_to_select=10 ...........
[CV] logistic__C=0.1, reducir_dim__n_features_to_select=10 ...........
[CV] logistic__C=0.1, reducir_dim__n_features_to_select=10 ...........
[CV] logistic__C=0.1, reducir_dim__n_features_to_select=10 ...........
[CV] logistic__C=0.1, reducir_dim__n_features_to_select=10 ...........
[CV] logistic__C=0.1, reducir_dim__n_features_to_select=10 ...........
[CV] logistic__C=0.1, reducir_dim__n_features_to_select=10 ...........
[CV] logistic__C=0.1, reducir_dim__n_features_to_select=10 ...........
[CV] logistic__C=0.1, reducir_dim__n_features_to_select=10 ...........
[CV]  logistic__C=0.1, reducir_dim__n_features_to_select=10, score=0.9729162782024986, total=12.1min
[CV] logistic__C=0.1, reducir_dim__n_features_to_select=20 ...........
[CV]  logistic__C=0.1, reducir_dim__n_features_to_select=10, score=0.9912362483684505, total=12.5min
[CV] logistic__C=0.1, reducir_dim__n_features_to_select=20 ...........
[CV]  logistic__C=0.1, reducir_dim__n_features_to_select=10, score=0.9927745664739884, total=12.8min
[CV] logistic__C=0.1, reducir_dim__n_features_to_select=20 ...........
[CV]  logistic__C=0.1, reducir_dim__n_features_to_select=10, score=0.9727764311019952, total=13.1min
[CV] logistic__C=0.1, reducir_dim__n_features_to_select=20 ...........
[CV]  logistic__C=0.1, reducir_dim__n_features_to_select=10, score=0.9933333333333333, total=13.3min
[CV] logistic__C=0.1, reducir_dim__n_features_to_select=20 ...........

[Parallel(n_jobs=10)]: Done   5 tasks      | elapsed: 13.3min

[CV]  logistic__C=0.1, reducir_dim__n_features_to_select=10, score=0.9915151515151515, total=13.4min
[CV] logistic__C=0.1, reducir_dim__n_features_to_select=20 ...........
[CV]  logistic__C=0.1, reducir_dim__n_features_to_select=10, score=0.9917948717948718, total=13.9min
[CV] logistic__C=0.1, reducir_dim__n_features_to_select=20 ...........
[CV]  logistic__C=0.1, reducir_dim__n_features_to_select=10, score=0.9918418721737914, total=14.0min
[CV] logistic__C=0.1, reducir_dim__n_features_to_select=20 ...........
[CV]  logistic__C=0.1, reducir_dim__n_features_to_select=10, score=0.9731468531468531, total=14.2min
[CV] logistic__C=0.1, reducir_dim__n_features_to_select=20 ...........
[CV]  logistic__C=0.1, reducir_dim__n_features_to_select=10, score=0.9932870262458626, total=15.8min
[CV] logistic__C=0.1, reducir_dim__n_features_to_select=20 ...........
[CV]  logistic__C=0.1, reducir_dim__n_features_to_select=20, score=0.9980887562931196, total= 9.8min
[CV] logistic__C=0.1, reducir_dim__n_features_to_select=30 ...........
[CV]  logistic__C=0.1, reducir_dim__n_features_to_select=20, score=0.9929144135744918, total=10.7min
[CV] logistic__C=0.1, reducir_dim__n_features_to_select=30 ...........
[CV]  logistic__C=0.1, reducir_dim__n_features_to_select=20, score=0.9971098265895953, total=10.2min
[CV] logistic__C=0.1, reducir_dim__n_features_to_select=30 ...........
[CV]  logistic__C=0.1, reducir_dim__n_features_to_select=20, score=0.9932873391758344, total=11.0min
[CV] logistic__C=0.1, reducir_dim__n_features_to_select=30 ...........
[CV]  logistic__C=0.1, reducir_dim__n_features_to_select=20, score=0.9931468531468531, total=11.5min
[CV] logistic__C=0.1, reducir_dim__n_features_to_select=30 ...........

[Parallel(n_jobs=10)]: Done  15 out of  30 | elapsed: 25.5min remaining: 25.5min

[CV]  logistic__C=0.1, reducir_dim__n_features_to_select=20, score=0.9919817257936693, total=12.2min
[CV] logistic__C=0.1, reducir_dim__n_features_to_select=30 ...........
[CV]  logistic__C=0.1, reducir_dim__n_features_to_select=20, score=0.9915151515151515, total=11.5min
[CV] logistic__C=0.1, reducir_dim__n_features_to_select=30 ...........
[CV]  logistic__C=0.1, reducir_dim__n_features_to_select=20, score=0.9971095571095571, total=11.9min
[CV] logistic__C=0.1, reducir_dim__n_features_to_select=30 ...........
[CV]  logistic__C=0.1, reducir_dim__n_features_to_select=20, score=0.9927742296396438, total=13.8min
[CV] logistic__C=0.1, reducir_dim__n_features_to_select=30 ...........

[Parallel(n_jobs=10)]: Done  19 out of  30 | elapsed: 27.2min remaining: 15.7min

[CV]  logistic__C=0.1, reducir_dim__n_features_to_select=20, score=0.9975291375291375, total=12.2min
[CV] logistic__C=0.1, reducir_dim__n_features_to_select=30 ...........
[CV]  logistic__C=0.1, reducir_dim__n_features_to_select=30, score=0.9974361364907701, total= 7.6min
[CV]  logistic__C=0.1, reducir_dim__n_features_to_select=30, score=0.9976692149916092, total= 8.4min
[CV]  logistic__C=0.1, reducir_dim__n_features_to_select=30, score=0.9970165951892598, total= 7.7min

[Parallel(n_jobs=10)]: Done  23 out of  30 | elapsed: 30.8min remaining:  9.4min

[CV]  logistic__C=0.1, reducir_dim__n_features_to_select=30, score=0.9984150661942942, total= 8.0min
[CV]  logistic__C=0.1, reducir_dim__n_features_to_select=30, score=0.9977622377622377, total= 7.5min
[CV]  logistic__C=0.1, reducir_dim__n_features_to_select=30, score=0.9971563097291501, total= 7.9min
[CV]  logistic__C=0.1, reducir_dim__n_features_to_select=30, score=0.997062937062937, total= 7.6min

[Parallel(n_jobs=10)]: Done  27 out of  30 | elapsed: 33.5min remaining:  3.7min

[CV]  logistic__C=0.1, reducir_dim__n_features_to_select=30, score=0.9972494172494173, total= 6.6min
[CV]  logistic__C=0.1, reducir_dim__n_features_to_select=30, score=0.9979954314484173, total= 8.2min
[CV]  logistic__C=0.1, reducir_dim__n_features_to_select=30, score=0.997062937062937, total= 6.0min

[Parallel(n_jobs=10)]: Done  30 out of  30 | elapsed: 33.9min finished

GridSearchCV(cv=10, error_score='raise',
       estimator=Pipeline(memory=None,
     steps=[('reducir_dim', RFE(estimator=LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False...ty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False))]),
       fit_params=None, iid=True, n_jobs=10,
       param_grid=[{'reducir_dim__n_features_to_select': [10, 20, 30], 'logistic__C': [0.1]}],
       pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
       scoring=None, verbose=10)

In [96]:
grid.cv_results_

{'mean_fit_time': array([809.14417775, 687.80331426, 452.79375365]),
 'mean_score_time': array([0.08123331, 0.12004068, 0.06569829]),
 'mean_test_score': array([0.98646217, 0.99454571, 0.99748263]),
 'param_logistic__C': masked_array(data=[0.1, 0.1, 0.1],
              mask=[False, False, False],
        fill_value='?',
             dtype=object),
 'param_reducir_dim__n_features_to_select': masked_array(data=[10, 20, 30],
              mask=[False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'logistic__C': 0.1, 'reducir_dim__n_features_to_select': 10},
  {'logistic__C': 0.1, 'reducir_dim__n_features_to_select': 20},
  {'logistic__C': 0.1, 'reducir_dim__n_features_to_select': 30}],
 'rank_test_score': array([3, 2, 1], dtype=int32),
 'split0_test_score': array([0.99277457, 0.99291441, 0.99766921]),
 'split1_test_score': array([0.97291628, 0.99808876, 0.99743614]),
 'split2_test_score': array([0.99123625, 0.99710983, 0.9970166 ]),
 'split3_test_score': array([0.97277643, 0.99328734, 0.99841507]),
 'split4_test_score': array([0.99184187, 0.99198173, 0.99715631]),
 'split5_test_score': array([0.99328703, 0.99277423, 0.99799543]),
 'split6_test_score': array([0.99333333, 0.99314685, 0.99776224]),
 'split7_test_score': array([0.99179487, 0.99710956, 0.99706294]),
 'split8_test_score': array([0.99151515, 0.99151515, 0.99724942]),
 'split9_test_score': array([0.97314685, 0.99752914, 0.99706294]),
 'std_fit_time': array([59.265281  , 65.58288955, 42.76504571]),
 'std_score_time': array([0.01556719, 0.0141682 , 0.03325259]),
 'std_test_score': array([0.00887376, 0.00244335, 0.00044474])}

In [112]:
grid.best_params_['reducir_dim__n_features_to_select']

30

In [115]:
modelo_logistico = LogisticRegression(C=0.1)
selector_logistico = RFE(estimator=modelo_logistico,n_features_to_select=30)
selector_logistico.fit(X_trainval,y_trainval)

RFE(estimator=LogisticRegression(C=0.1, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False),
  n_features_to_select=30, step=1, verbose=0)

In [116]:
selector_logistico.support_

array([False,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False,  True,  True,  True, False,  True,  True,  True,
       False,  True, False,  True, False, False,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False, False, False, False, False, False])

In [117]:
X_trainval.columns

Index(['loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate',
       'installment', 'grade', 'sub_grade', 'emp_length', 'home_ownership',
       'annual_inc', 'verification_status', 'pymnt_plan', 'purpose', 'title',
       'zip_code', 'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line',
       'inq_last_6mths', 'open_acc', 'pub_rec', 'revol_bal', 'revol_util',
       'total_acc', 'initial_list_status', 'out_prncp', 'out_prncp_inv',
       'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int',
       'total_rec_late_fee', 'recoveries', 'collection_recovery_fee',
       'last_pymnt_amnt', 'collections_12_mths_ex_med', 'policy_code',
       'application_type', 'tot_coll_amt', 'tot_cur_bal', 'total_rev_hi_lim'],
      dtype='object')